<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="changeSex">性别改为女</button>
      <br>
      <input type="radio" id="one" value="男" v-model="sex" />
      <label for="one">男</label>
      <br />
      <input type="radio" id="two" value="女" v-model="sex" />
      <label for="two">女</label>
    </div>
    <script src="./lib/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          sex:'男'
        },
        methods: {
          changeSex(){
            this.sex='女'
          }
        },
      })
    </script>
  </body>
</html>
