<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      li span {
        font-size: 30px;
      }
    div{
      width: 100px;
      height: 100px;
    }
    </style>
  </head>

  <body>
    <div id="app">
      <h2>天气查查查--{{ city }}</h2>
      <input type="text" placeholder="请输入查询的城市" v-model="city" @keyup.enter="inputVal" />
      <ul>
        <li v-for="item in forecastList">
          {{ item.date }}{{ item.high }}{{ item.low }}{{ item.type }}
          <span v-if="item.type.indexOf('云')!= -1">🌥️</span>
          <span v-else-if="item.type.indexOf('雨')!= -1">🌧️</span>
          <span v-else>🌞</span>
        </li>
      </ul>
    </div>

    <!-- 开发环境版本，包含了有帮助的命令行警告 jquery.js -->
    <script src="./lib/vue.js"></script>
    <!-- jQuery -->
    <script src="./lib/jquery-1.12.4.min.js"></script>
    <script>
      // 获取城市,展现在上面去
      new Vue({
        el: "#app",
        data: {
          city: "深圳",
          forecastList: []
        },
        methods: {
          // let that = this
          inputVal() {
            let that = this;
            // 发送请求
            $.get({
              url: `http://wthrcdn.etouch.cn/weather_mini?city=${this.city}`,

              dataType: "json",
              success: function(res) {
                console.log(res);

                that.forecastList = res.data.forecast;
              }
            });
          }
        }
      });
    </script>
  </body>
</html>
