<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h3>我的年龄{{age}}</h3>
      <input type="text" v-model="age">
      <p v-if="age<5">玩泥巴</p>
      <p v-else-if="age>=5&&age<18">上网</p>
      <p v-else>晚婚了</p>
    </div>
    <script src="./lib/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          age:18
        }
      });
      </script>
  </body>
</html>